USE [master]
GO
/****** Object:  Database [AvalauncheTestsDB]    Script Date: 17.10.2015 г. 16:50:07 ******/
CREATE DATABASE [AvalauncheTestsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AvalauncheTestsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AvalauncheTestsDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AvalauncheTestsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AvalauncheTestsDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AvalauncheTestsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AvalauncheTestsDB]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 17.10.2015 г. 16:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[OrganisationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Organizations_1] PRIMARY KEY CLUSTERED 
(
	[OrganisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Place]    Script Date: 17.10.2015 г. 16:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Place](
	[PlaceId] [int] NOT NULL,
	[Name] [nvarchar](15) NOT NULL,
	[Area] [geometry] NULL,
 CONSTRAINT [PK_Place] PRIMARY KEY CLUSTERED 
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tests]    Script Date: 17.10.2015 г. 16:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TetsId] [int] IDENTITY(1,1) NOT NULL,
	[TestResults] [nvarchar](250) NOT NULL,
	[DangerLevel] [int] NOT NULL,
	[Position] [geography] NULL,
	[PlaceId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Slope] [float] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[TetsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tests Organisations]    Script Date: 17.10.2015 г. 16:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests Organisations](
	[TestId] [int] NOT NULL,
	[OrganisationId] [int] NOT NULL,
 CONSTRAINT [PK_Tests Organisations] PRIMARY KEY CLUSTERED 
(
	[TestId] ASC,
	[OrganisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.10.2015 г. 16:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users Organisations]    Script Date: 17.10.2015 г. 16:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users Organisations](
	[UserId] [uniqueidentifier] NOT NULL,
	[OrganisationId] [int] NOT NULL,
 CONSTRAINT [PK_Users Organisations] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[OrganisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users Tests]    Script Date: 17.10.2015 г. 16:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users Tests](
	[UserId] [uniqueidentifier] NOT NULL,
	[TestId] [int] NOT NULL,
 CONSTRAINT [PK_Users Tests] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UserId]  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([PlaceId])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Place]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Users]
GO
ALTER TABLE [dbo].[Tests Organisations]  WITH CHECK ADD  CONSTRAINT [FK_Tests Organisations_Organizations] FOREIGN KEY([OrganisationId])
REFERENCES [dbo].[Organizations] ([OrganisationId])
GO
ALTER TABLE [dbo].[Tests Organisations] CHECK CONSTRAINT [FK_Tests Organisations_Organizations]
GO
ALTER TABLE [dbo].[Tests Organisations]  WITH CHECK ADD  CONSTRAINT [FK_Tests Organisations_Tests] FOREIGN KEY([TestId])
REFERENCES [dbo].[Tests] ([TetsId])
GO
ALTER TABLE [dbo].[Tests Organisations] CHECK CONSTRAINT [FK_Tests Organisations_Tests]
GO
ALTER TABLE [dbo].[Users Organisations]  WITH CHECK ADD  CONSTRAINT [FK_Users Organisations_Organizations] FOREIGN KEY([OrganisationId])
REFERENCES [dbo].[Organizations] ([OrganisationId])
GO
ALTER TABLE [dbo].[Users Organisations] CHECK CONSTRAINT [FK_Users Organisations_Organizations]
GO
ALTER TABLE [dbo].[Users Organisations]  WITH CHECK ADD  CONSTRAINT [FK_Users Organisations_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Users Organisations] CHECK CONSTRAINT [FK_Users Organisations_Users]
GO
ALTER TABLE [dbo].[Users Tests]  WITH CHECK ADD  CONSTRAINT [FK_Users Tests_Tests] FOREIGN KEY([TestId])
REFERENCES [dbo].[Tests] ([TetsId])
GO
ALTER TABLE [dbo].[Users Tests] CHECK CONSTRAINT [FK_Users Tests_Tests]
GO
ALTER TABLE [dbo].[Users Tests]  WITH CHECK ADD  CONSTRAINT [FK_Users Tests_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Users Tests] CHECK CONSTRAINT [FK_Users Tests_Users]
GO
USE [master]
GO
